.gradle
.idea

# Build files/ directories
build
out

# UI build files, src/main/resources/static is the React build directory
src/main/resources/static/static
src/main/resources/static/*.json
src/main/resources/static/*.js
src/main/resources/static/*.css
src/main/resources/static/*.txt
src/main/resources/static/*.png
src/main/resources/static/*.html

# IntelliJ meta
*.iml
*.ipr
*.iws

# Docker files
**/.env
/tokens/StoredCredential
/src/main/resources/keys/e2e-runner-credentials.json
