.modal-90w {
    width: 90%;
    max-width: none !important;
}

.var-group {
    background-color: #272B30;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: .25rem;
    padding: 1rem .5rem 0 .5rem;
}

.var-group button:first-child {
    margin-right: 1rem;
}

.var-group button {
    max-width: 50px;
    width: 50px;
}

button.close {
    outline: none;
}