.modal-backdrop.show.fill {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px) grayscale(100%);
  opacity: .7;
}

.modal-footer {
  justify-content: flex-start;
}

.modal-footer>:last-child {
  margin-left: auto;
}